@font-face {
  font-family: Georgia;
  src: url('../fonts/Georgia/Georgia.otf') format('opentype');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: Morgan;
  src: url('../fonts/Morgan/Morgan.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: Agraham;
  src: url('../fonts/Agraham/Agraham.otf') format('opentype');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: PLBardamu;
  src: url('../fonts/PLBardamu/PlBardamu.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
}