html, body {
  min-height: 100vh;
  position: relative;
}

#noiseBG {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

[data-to="canvas"] > [data-type] {
  position: fixed;
  transform: translate(-100%);
  z-index: -1;
}
