html, body {
  min-height: 100vh;
  position: relative;
}

#noiseBG {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.test {
  display: block;
  width: 50%;
  height: 1000px;
  margin: 0 auto;
  opacity: 0;
  background-color: black;
  margin-bottom: 3rem;

  &_theme_red {
    background-color: salmon;
  }

  &_theme_green {
    background-color: rgb(114, 250, 148);
  }

  &_theme_blue {
    background-color: rgb(114, 173, 250);
  }
}

