html,
body {
  min-height: 100vh;
  position: relative;
}

#noiseBG {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

[data-to="canvas"] > [data-type] {
  position: fixed;
  transform: translate(-100%);
  z-index: -1;
}

.h1 {
  font-family: "Morgan";
  text-shadow: 0 0 0.2rem $black;
}

.h2 {
  font-family: "Agraham";
  font-size: 2.25rem;
  line-height: 2;
  font-weight: bold;
  color: $white;
  margin-bottom: 1.5em;
  letter-spacing: 0.075em;
  text-shadow: 
  3px 3px 0.05rem $black;
}

.main-text {
  --max-size: 550px;
  --min-size: 400px;
  font-size: 4rem;
}

.round-text {
  --size: var(--max-size);
  width: var(--size);
  aspect-ratio: 1;
  position: relative;
  z-index: 1;

  &__item {
    position: absolute;
    line-height: 1;
    left: 50%;
    transform-origin: 0 calc(var(--size) * 0.5);
  }

  @media (max-width: $sm) {
    --size: var(--min-size);
  }
}

.info {
  font-family: "PLBardamu";
  font-size: 1.7rem;
  background: $black;
  color: $white;
  
  &_theme_lead {
    padding: 1rem 2rem 2rem;
    border: 0.5rem dashed $black;
    border-radius: 1rem;
    background-clip: padding-box;
  }
  
  &_theme_secondary {
    line-height: 1.25;
    background: transparent;
    color: $white;
    padding: 1em;
    text-shadow: 
      3px 3px 0.05rem $black;
  }

  &__quote {
    font-style: italic;
  }

  &__author {
    text-align: right;
  }
}
